* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Toda essa estrutura foi copiado do site "google fonts" para ser colado aqui no css, agora toda a estrutura/site tera essa fonte*/

.Link-Header {
    font-weight: 600;
    font-size: 24px;
    line-height: 29.26px;
    color: #989D9C;
    cursor: pointer;
    margin: 44px 23px 144px 76px;
}

.button-header {
    background: #665AE1;
    border-radius: 20.5px;
    width: 130px;
    height: 41px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 24px;
    line-height: 29.26px;
    border: none;
    cursor: pointer;
}

.logo-image {
    Width: 568px;
    Height: 500px;
    margin-left: 125px;
    display: inline-block;
}

header {
    margin: 44px 23px 144px 76px;
}

section {
    display: inline-block;
    margin-left: 86px;
}

h1 {
    font-size: 100px;
    font-weight: 900;
    line-height: 121.9px;
    color: #515151;

}

h2 {
    font-size: 58px;
    font-weight: 500;
    line-height: 70.7px;
    color: #515151;

}

p {
    Width: 515px;
    font-size: 24px;
    font-weight: 400;
    line-height: 26.26px;
    color: #848484;
    margin-top: 32px;
    margin-bottom: 65px;
}

.button-main {
    background: #ADFF00;
    border-radius: 20.5px;
    width: 239px;
    height: 64px;
    color: #000000;
    font-weight: 700;
    font-size: 28px;
    line-height: 34.13px;
    border: none;
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

@media screen and (max-width: 1350px) {
    .section1 {
        display: none;
    }

    .logo-image {
        Width: 354px;
        Height: 317px;
        margin: 149px 22px 24px 14px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    p {
        display: none;
    }

    h1 {
        Width: 263px;
        Height: 52px;
        font-size: 50px;
        font-weight: 900px;
        line-height: 60.95px;
        color: #515151;
        margin: 0px;
        margin-left: auto;
        margin-right: auto;

    }

    h2 {
        Width: 232px;
        Height: 37px;
        font-size: 30px;
        font-weight: 500;
        line-height: 36.57px;
        color: #515151;
        margin: 7px;
        margin-left: auto;
        margin-right: auto;

    }

    .button-main {
        width: 239px;
        height: 64px;
        color: #000000;
        font-weight: 700;
        font-size: 28px;
        line-height: 34.13px;
        margin: 0px;
        margin-left: auto;
        margin-right: auto;
       
    }
    
    }

